<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Page Not Found</title>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
  </head>
  <body>
    <main>

      <section class="hero is-fullheight">
       
<div class="vertical-center">
<h1 class="title has-text-centered " style="margin-bottom: 20px">404 Page Not Found</h1>
<h2 class="subtitle has-text-centered" style="margin-top: 0px"><a href="/">Go Back</a></h2>
</div>
      </section>

    </main>


  </body>
</html>