<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EPShare Rides | Logout</title>
</head>
<body>

</body>

  <script>
    function logout() {
      // localStorage.clear();
      window.location.href = '/signin';
    }
    logout();
  </script>
</html>