<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EPShare Rides | Logout</title>
</head>

<body>
  <p>Thanks for using EPShare Rides.</p>
</body>

</html>