<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EPShare Rides | Login</title>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <!--Get your code at fontawesome.com-->
    <link rel="icon" href="favicon.png" type="image/x-icon">
  </head>
  <body>
    
    <main>
      <% if (error) { %>
      <article class="message is-danger" id="error">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
            element.remove();"></button>
        </div>
        <div class="message-body">
          <%= error %>
        </div>
      </article>
      <% } %>

        <% if (message) { %>
        <article class="message is-success" id="error">
          <div class="message-header">
            <p>Success</p>
            <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
              element.remove();"></button>
          </div>
          <div class="message-body">
            <%= message %>
          </div>
        </article>
        <% } %>
      
      <article id="signin" class="panel is-link vertical-center" style="">
        <img id="topLogo" src="EPS Logo - Transparent-4.png
          " alt="Italian Trulli" width="70px" style="/* margin-top: -20px; *//* transform: translate(-6px,10px); */margin-left: auto;margin-right: auto;margin-bottom: 20px;margin-top: 20px;">
        <p class="panel-heading" style="background: linear-gradient(105deg, #3273DC, #275CBF);">
          <img id="bottomLogo" src="EPS Logo - Transparent-4.png
            " alt="Italian Trulli" width="60px" style="margin-top: -20px;transform: translate(-6px,10px);">
          Log in to EPShare Ride
          
          <span style="font-size: 1em; color: #30B700; float: right">
            <i class="fa-solid fa-leaf"></i>
          </span>
        </p>
        
        <div class="panel-block">
          
        </div>
       
        <a class="">
           <div class="field">
             <p class="control has-icons-left has-icons-right">
               <input class="input is-link" type="email" placeholder="Email" id="email"; style="margin:10px;margin-bottom:0px;padding-righ;margin-right:10px;width: calc(100% - 20px)">
               <span class="icon is-small is-left" style="margin:10px">
                 <i class="fas fa-envelope"></i>
               </span>
               <span class="icon is-small is-right" style="margin:10px">
                 <i class="fas fa-check"></i>
               </span>
             </p>
           </div>
        </a>
        
          <a class="" style="">
           <div class="field">
             <p class="control has-icons-left">
               <input class="input is-link" type="password" placeholder="Password" style="margin:10px; width: calc(100% - 20px)" id="password">
               <span class="icon is-small is-left" style="margin:10px">
                 <i class="fas fa-lock"></i>
               </span>
             </p>
           </div>
        </a>
        <!-- <div class="button is-link is-outlined is-fullwidth" style="margin: 10px; width: calc(100% - 20px)">
            Log in with EPS Account
        </div> -->
        <button class="button is-fullwidth is-link is-outlined" style="margin-top: 10px;" onclick="signin()">
          Log in
        </button>
     
      </article>
         <p class="has-text-centered" style="top: calc(100% - 40px); width: 100%; bottom: 0px; position: absolute;">Don't have an account? <a href="/signup">Sign up here</a></p>
        
    </main>
  <script src="./index_signup.js"></script>
  <script>
    function signin() {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      const data = {
        email,
        password,
      };

      const jsonData = JSON.stringify(data);

      const url = "/auth/signin";
      let accessToken;

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: jsonData,
      })
        .then((response) => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        .catch(error => console.error('Error:', error));
      
      

    }
  </script>
    
  </body>
</html>