<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EPShare Rides | Signup</title>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <!--Get your code at fontawesome.com-->
    <link rel="icon" href="favicon.png" type="image/x-icon">
  </head>
  <body >
    
    <main>
      <!-- <% if (error) { %> -->
      <article class="message is-danger" id="error">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
            element.remove();"></button> 
        </div>
        <div class="message-body" id="errorMessageText">
          <%= error %>
        </div>
      </article>
      <!-- <% } %> -->
      
      <article id="signup" class="panel is-link vertical-center " style=" ">
        <img id="topLogo" src="EPS Logo - Transparent-4.png
          " alt="Italian Trulli" width="70px" style="/* margin-top: -20px; *//* transform: translate(-6px,10px); */margin-left: auto;margin-right: auto;margin-bottom: 20px;margin-top: 20px;">
        <p class="panel-heading"style="background: linear-gradient(105deg, #3273DC, #275CBF);">
          <img id="bottomLogo" src="EPS Logo - Transparent-4.png
            " alt="Italian Trulli" width="60px" style="margin-top: -20px;transform: translate(-6px,10px);">
          Sign Up for EPShare Ride
          <span style="font-size: 1em; color: #30B700; float: right">
            <a class="fa-solid fa-leaf" href="/sustainabilityStatement" style="color: #30B700"></a>
          </span>
        </p>
        
        <div class="panel-block">
          <p>Sign up to see events. Carpool with friends.</p>
        </div>
        <a class="panel-block is-active">
           <input class="input is-link" type="text" placeholder="First Name" style="margin-right:10px;" id="first_name">
       
           <input class="input is-link" type="text" placeholder="Last Name" style="margin-right:0px;" id='last_name'>
        </a>
        <a class="">
           <div class="field">
             <p class="control has-icons-left has-icons-right">
               <input class="input is-link" type="email" placeholder="Email" id="email"; style="margin:10px;margin-bottom:0px;margin-right:10px;width: calc(100% - 20px)">
               <span class="icon is-small is-left" style="margin:10px">
                 <i class="fas fa-envelope"></i>
               </span>
               <span class="icon is-small is-right" style="margin:10px">
                 <i class="fas fa-check"></i>
               </span>
             </p>
           </div>
        </a>
          <a class="" style="">
           <div class="field">
             <p class="control has-icons-left">
               <input class="input is-link" type="password" placeholder="Password" style="margin:10px; width: calc(100% - 20px)" id="password">
               <span class="icon is-small is-left" style="margin:10px">
                 <i class="fas fa-lock"></i>
               </span>
             </p>
           </div>
        </a>
        <a class="" style="">
         <div class="field">
           <p class="control has-icons-left">
             <input class="input is-link" type="password" placeholder="Re-enter password" style="margin:10px; margin-top: 0px; width: calc(100% - 20px)" id="confirm_password">
             <span class="icon is-small is-left" style="margin:10px; margin-top: 0px">
               <i class="fas fa-lock"></i>
             </span>
           </p>
         </div>
        </a>
        <button class="button is-fullwidth is-link is-outlined" style="margin-top: 10px;" onclick="signup()">
          Sign Up
        </button>
        
      </article>
   
      <p class="has-text-centered" style="top: calc(100% - 40px); position: absolute; width: 100%; bottom: 0px">Already have an account? <a href="/signin">Log in here</a></p>
 
       </main>
  
    
        
  <script src="/index_signup.js"></script>
    
  </body>
</html>