<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EPShare Rides | Login</title>
  <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>

  <link href="./style.css" rel="stylesheet" type="text/css" />
  <!--Get your code at fontawesome.com-->
  <link rel="icon" href="favicon.png" type="image/x-icon">
</head>

<body>

  <main>
    <% if (error) { %>
      <article class="message is-danger" id="error">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
            element.remove();"></button>
        </div>
        <div class="message-body">
          <%= error %>
        </div>
      </article>
      <% } %>

        <% if (message) { %>
          <article class="message is-success" id="error">
            <div class="message-header">
              <p>Success</p>
              <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
              element.remove();"></button>
            </div>
            <div class="message-body">
              <%= message %>
            </div>
          </article>
          <% } %>

            <article id="signin" class="panel is-link vertical-center" style="">
              <img id="topLogo" src="EPS Logo - Transparent-4.png
          " alt="" width="70px"
                style="/* margin-top: -20px; *//* transform: translate(-6px,10px); */margin-left: auto;margin-right: auto;margin-bottom: 20px;margin-top: 20px;">
              <p class="panel-heading" style="background: linear-gradient(105deg, #3273DC, #275CBF);">
                <img id="bottomLogo" src="EPS Logo - Transparent-4.png
            " alt="" width="60px" style="margin-top: -20px;transform: translate(-6px,10px);">
                Log in to EPShare Ride

                <span style="font-size: 1em; color: #30B700; float: right">
                  <a class="fa-solid fa-leaf" href="/sustainabilityStatement" style="color: #30B700"></a>
                </span>
              </p>

              <div class="panel-block" style="text-align: justify">
                <h1
                  style="text-align: center; width: 100%; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 5px">
                  The one place to keep track of all EPS events. Create and sign up for carpools with ease.
                </h1>
              </div>

              <button class="button is-fullwidth is-link is-outlined"
                id = "sign-in"
                style="margin: 5px;margin-top: 5px;  width: calc(100% - 10px)">
                @EASTSIDEPREP.ORG LOGIN
              </button>

            </article>
            <!-- <p class="has-text-centered" style="top: calc(100% - 40px); width: 100%; bottom: 0px; position: absolute;">Don't have an account? <a href="/signup">Sign up here</a></p> -->

  </main>
  <script type="module" src="./signin.js"></script>
</body>

</html>