<!DOCTYPE html>
<html lang="en" id="head">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EPCarpool</title>
  <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
  <link href="./style.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <main>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered" id="deleteaccount">

          <span class="flex-center " style="font-size: 2em; color: #30B700">
            <i class="fa-solid fa-leaf"></i>
          </span>
          <h1 class="title is-3 " style="margin-top: 5px">Sustainability at EPS</h1>
          <h2 class="subtitle" style="font-size: 20px; margin-top: 10px; margin-bottom: 10px">The idea for EPCarpool
            was born at the first EPS Hackathon in January of 2024. The prompt for that competition was "How can we make
            EPS more sustainable?". </h2>
          <h2 class="subtitle" style="font-size: 20px;margin-bottom: 10px">There are many ways we could approach this
            topic: We could build a website to raise awareness or we could greenify a component of EPS, but we decided
            to focus on the student life aspect of sustainability. How can students at EPS engage in climate-friendly
            actions, and how can they integrate it into a convenient lifestyle?</h2>
          <h2 class="subtitle" style="font-size: 20px">EPCarpool is a place that allows students to engage directly
            in lowering the footprint from transportation for school events: socials, sports, academic teams, and more.
            It allows us to work together to make EPS extracurriculars a more sustainable part of our culture and to
            promote greener ways of transportation. We see the value in carpooling, and we hope you do as well.</h2>
          <div class="buttons">
            <div class="button center is-link" onclick="window.location.href='/'"
              style="margin-top: 20px; margin-bottom: 0px; background: linear-gradient(105deg, #3273DC, #275CBF);">Go
              back</div>
          </div>
        </div>
      </div>
    </section>


  </main>


</body>
<script>
  /*var request = new Request("/api/users", {
    method: "GET",
    headers: new Headers({
      Accept: 'application/json',
      'Content-Type': 'application/json',
    })
  });
  fetch(request)
    .then((response) => response.json())
    .then((data) => {
      userData1 = data;
        for (let k = 0; k < userData1.length; k++) {
          if(userData1[k].dark == true){
          document.getElementById("head").style.background = "#1c1c1c";
          let temp = document.getElementsByClassName("title");
          for (let i = 0; i < temp.length; i++) {
            temp[i].style.color = "white"
          }
          let Cont = document.getElementsByClassName("container");
          for (let i = 0; i < Cont.length; i++) {
            Cont[i].style.color = "white"
          }
          let sub = document.getElementsByClassName("subtitle");
          for (let i = 0; i < sub.length; i++) {
            sub[i].style.color = "white"
          }
        }

      }
      })*/
</script>

</html>
