<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EPShare Rides</title>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>
      
      <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container has-text-centered vertical-center" style="width: 700px;">
            
            <span class="flex-center " style="font-size: 2em; color: #30B700">
              <i class="fa-solid fa-leaf"></i>
            </span>
            <h1 class="title is-3 " style="margin-top: 5px">Sustainability at EPS</h1>
            <h2 class="subtitle" style="font-size: 20px; margin-top: 10px; margin-bottom: 10px">The idea for EPShare Rides was first born at the EPS Hackathon in January of 2024. The prompt for that competition was "How can we make EPS more sustainable?". </h2>
            <h2 class="subtitle" style="font-size: 20px;margin-bottom: 10px">There are many ways to aproach this topic: you can build something to raise awareness or to greenify a component of EPS, but we focused on the student life aspect of sustainability. How can students at EPS engage in climate-friendly actions, and how can they integrate it into a convenient lifestyle?</h2>
            <h2 class="subtitle" style="font-size: 20px">EPShare Rides is an app that allows students to engage directly in the community of events: socials, sports, academic teams, and more. It allows us to work together to make EPS extracurriculars a sustainable part of our culture, and to promote greener ways of transportation. We saw the value in carpooling, and we hope you do too.</h2>
            <div class="buttons">
            <div class="button center" style="margin-top: 10px;" onclick="window.location.href='/'"">Go back</div>
            </div>
          </div>
        </div>
      </section>
     

    </main>


  </body>
</html>