  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>EPShare Rides</title>
      <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
      <link href="./style.css" rel="stylesheet" type="text/css" />
      <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
      <link rel="icon" href="./favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="./style.css">
      <script src="./script.js"></script>
    </head>
    <body>
      <main>

        <section class="hero is-fullheight">
          <!-- Hero head: will stick at the top -->
                           <div class="hero-head">
                             <header class="navbar">
                               <div class="container">
                                 <div class="navbar-brand">
                                   <a class="navbar-item">
                                     <img src="EPS Logo - Transparent-4.png" alt="Logo">
                                     <h1 class="title is-3" style="margin-left: 10px" >EPShare Rides
                                     </h1>
                                   </a>
                                   <span class="navbar-burger " data-target="navbarMenuHeroC" id="nav-toggle">
                                     <span></span>
                                     <span></span>
                                     <span></span>
                                   </span>
                                 </div>
                                 <div id="navbarMenuHeroC" class="navbar-menu ">
                                   <div class="navbar-end">

                                     <div class="is-button is-link">

                                       <div class="navbar-item">
                                         <span style="font-size: 1em; color: #30B700; float: right">
                                           <i class="fa-solid fa-leaf"></i>
                                         </span>
                                         <div class="buttons" style="margin: 10px;margin-right: 0px;">

                                           <a class="button is-link is-outlined " href="/logout">
                                            Log out
                                           </a>

                                            <div class="navbar-item has-dropdown is-hoverable ">
                                           <a class="button is-link" id="name_button">
                                          <%= firstName %> <%= lastName %>
                                           </a>




                                                <div class="navbar-dropdown" >
                                                  <a class="navbar-item">
                                                   Update settings
                                                  </a>
                                                  <a class="navbar-item" href="mailto:nmahesh@eastsideprep.org, ayamashita@eastsideprep.org, pjain27@eastsideprep.org, ajosan@eastsideprep.org">
                                                    Report a bug
                                                  </a>
                                                  <a class="navbar-item" href="/deleteAccount">
                                                    Delete account
                                                  </a>
                                                  <hr class="navbar-divider">
                                                  <div class="navbar-item">
                                                    Version Beta 0.1.0
                                                  </div>
                                                </div>
                                              </div>
                                            </nav>

                                         </div>
                                       </div>

                                       </div>
                                   </div>
                                 </div>
                               </div>
                             </header>
                           </div>


          <!-- Hero content: will be in the middle -->
          <div class="hero-body" >
           <div style="position: absolute; margin-top: -270px; margin-left: 30px;">
            <label for="filter">Filter by: </label>
            <select name="filter" id="filter">
              <option value="all" >All</option>
              <option value="sports">Sports</option>
              <option value="academic teams">Academic teams</option>
              <option value="socials">Socials</option>
              <option value="socials">Other</option>
            </select>
</div>
            <!--Start here  -->


            
            <div class="container has-text-centered" style="margin-top: -90px; width: 100%">
                  

              <article class="panel is-link" style="position: relative" >
                <div class=" " style="float: left; margin: 7px; left:0px; position: absolute " >
                  <span class="panel-icon" style='color: white; display: inline'>
                    <i class="fas fa-book" aria-hidden="true" style="margin: 13px; margin-left: 15px;"></i>
                    <p style="color: white; display: inline; font-size: 15px; ">Booked by Karla Harris</p>
                  </span>
                </div>
                <p class="panel-heading" style="margin-top: -10px; " >
                  
              Debate Tournament

                 
                </p>
                

                <div class="panel-block">
                  <p class="control has-icons-left" style="width: 100px;">

                    <span style="color: #999999; margin-right: 5px;"><i class="fa-solid fa-location-dot "></i></span>Location: Mount Vernon Highschool  <span style="color: #999999; margin-right: 5px; margin-left: 10px;"><i class="fa-solid fa-clock "></i></span>Date: 2/29/24 9:30 PM
                  </p>
                  <div class="buttons" style="float: left; display: inline-block;">

                  <div class="button" style="margin-right: 5px;">Offer to carpool</div>

                  <div class="button" >Register for this event</div>
                   </div>
                   </div>
             
                </div>
               

              </article>
          </div>


<!--Start here  -->
                                      

  <div class="container has-text-centered" style="margin-top: -120px; width: 100%">


    <article class="panel is-link" style="position: relative" >
      <div class=" " style="float: left; margin: 7px; left:0px; position: absolute " >
        <span class="panel-icon" style='color: white; display: inline'>
          <i class="fas fa-book" aria-hidden="true" style="margin: 13px; margin-left: 15px;"></i>
          <p style="color: white; display: inline; font-size: 15px; ">Booked by An Nuon</p>
        </span>
      </div>
      <p class="panel-heading" style="margin-top: -10px; " >

    7/8 Soccer Game


      </p>


      <div class="panel-block">
        <p class="control has-icons-left" style="width: 100px;">

          <span style="color: #999999; margin-right: 5px;"><i class="fa-solid fa-location-dot "></i></span>Location: 60 Acres Park  <span style="color: #999999; margin-right: 5px; margin-left: 10px;"><i class="fa-solid fa-clock "></i></span>Date: 3/3/24 5:30 PM
        </p>
        <div class="buttons" style="float: left; display: inline-block;">

        <div class="button" style="margin-right: 5px;">Offer to carpool</div>

        <div class="button" >Unregister for this event</div>
         </div>
         </div>

      </div>


    </article>
</div>

<!-- Stop here -->

</div>

          <!-- Hero footer: will stick at the bottom -->
          <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
              <div class="container">
                <ul>
                  <li ><a href="/">My Carpools</a></li>
                  <li class="is-active"><a href="/upcomingevents">Upcoming Events</a></li>
                  <li  ><a href="friends">Friends</a></li>

                </ul>
              </div>
            </nav>
          </div>

        </section>

      </main>
    <script src="index.js"></script>
    </body>
  </html>