<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EPShare Rides</title>
  <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
  <link href="./style.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./updateSettings_script.js"></script>
</head>

<body>
  <main>
    <section class="hero is-fullheight" id="hero">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="EPS Logo - Transparent-4.png" alt="Logo">
                <h1 class="title is-3" style="margin-left: 10px">EPShare Rides
                </h1>
              </a>
              <span class="navbar-burger " data-target="navbarMenuHeroC" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu ">
              <div class="navbar-end">
                <div class="is-button is-link">
                  <div class="navbar-item">
                    <span style="font-size: 1em; color: #30B700; float: right">
                      <a class="fa-solid fa-leaf" href="/sustainabilityStatement" style="color: #30B700"></a>
                    </span>
                    <div class="buttons" style="margin: 10px;margin-right: 0px;">
                      <a class="button is-link is-outlined " href="/logout">
                        Log out
                      </a>
                      <div class="navbar-item has-dropdown is-hoverable "
                        onclick="document.getElementById('navbar-dropdown').style.visibility = 'visible';">
                        <a class="button is-link" id="name_button"
                          style="background: linear-gradient(105deg, #3273DC, #275CBF);">
                          <%= firstName %>
                            <%= lastName %>
                              <i style="margin-left: 5px;" class="fas fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div id="filler"
                          style="width: 130px; background-color: transparent; height: 20px; position: absolute; margin-top: -15px;">
                        </div>
                        <div class="navbar-dropdown" id="navbar-dropdown">
                          <a class="navbar-item" href="/updateSettings">
                            Update settings
                          </a>
                          <a class="navbar-item" href="https://forms.office.com/r/deCSjA7bCR">
                            Report a bug
                          </a>
                          <a class="navbar-item" href="/sustainabilityStatement">
                            Sustainability statement
                          </a>
                          <hr class="navbar-divider">
                          <div class="navbar-item">
                            Version Beta 0.1.0
                          </div>
                        </div>
                      </div>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>


      <section class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->



        <!-- Hero content: will be in the middle -->
        <div class="hero-body" style="">
          <div class="container has-text-centered vertical-center" id="updatesettings">

            <h1 class="title is-3 " style="margin-top: 5px; margin-bottom: 30px">Settings</h1>

            <p class="subtitle is-6" style=" width: 100%; margin-bottom: 0px; text-align: left"><strong>Privacy</strong>
            </p>
            <div class="container" style="margin-top: 10px;margin-bottom: 30px">

              <p style="display: inline-block; font-size: 17px; transform: translate(0px,2px); float: left">Don't show
                my account to other EPS students</p>
              <input class="switch-input" type="checkbox" id="switch"><label class="switch-label"
                style="display: inline-block; margin-left: 5px; float:right" for="switch" checked="false">Toggle</label>
            </div>

            <div class="container" style="margin-bottom: 30px;margin-top: 10px">
              <p class="subtitle is-6" style=" width: 100%;  text-align: left; margin-bottom: 10px"><strong>Save my
                  address</strong></p>
              <!-- <p style="display: inline-block; font-size: 17px; transform: translate(0px,2px); float: left">Require an address when registering</p>
            <input class="switch-input" type="checkbox" id="switch2"  /><label class="switch-label" style="display: inline-block; margin-left: 5px; float: right" for="switch2">Toggle</label> -->
              <!-- <div class="field">
              <input class="input" id="cp" type="password" placeholder="Current password">
              </div>
             <div class="field">
              <input class="input" id="np" type="password" placeholder="New password">
             </div>
             <div class="field">
              <input class="input" id="np2" type="password" placeholder="Confirm password">
            </div> -->
              <div class="autocomplete-container" id="">
                <div class='control' id="autocomplete-container">
                </div>
              </div>

            </div>

            <div class="buttons">
              <div onclick="update()" class="button is-link"
                style="background: linear-gradient(105deg, #3273DC, #275CBF);">
                Update
              </div>
              <div class="button" onclick="window.location.href = '/'">
                Cancel
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
</body>
</html>
