<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EPShare Rides</title>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <script src="./upcoming.js"></script>
    <script>
      function changePassword(){
        document.getElementById("errorHolder").innerHTML = "";
        // Code to update settings


        const cp = document.getElementById("cp").value;
        const np = document.getElementById("np").value;
        const np2 = document.getElementById("np2").value;

        if (!cp || !np || !np2) {
          document.getElementById("errorHolder").innerHTML = `
          <article class="message is-danger" id="error">
            <div class="message-header">
              <p>Warning</p>
              <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
                element.remove();"></button>
            </div>
            <div class="message-body">
              Please fill all of the fields required for changing your password
            </div>
          </article>
          `;
        } else {

          if (np != np2) {
            document.getElementById("errorHolder").innerHTML = `
            <article class="message is-danger" id="error">
              <div class="message-header">
                <p>Warning</p>
                <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
                  element.remove();"></button>
              </div>
              <div class="message-body">
                New password confirmation does not match
              </div>
            </article>
            `;
          } else {
            if (cp == np) {
              document.getElementById("errorHolder").innerHTML = `
              <article class="message is-danger" id="error">
                <div class="message-header">
                  <p>Warning</p>
                  <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
                    element.remove();"></button>
                </div>
                <div class="message-body">
                  Your new password should not match your old one
                </div>
              </article>
              `;
            } else {
              fetch('/changePassword', {
                method: 'PUT',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ currentPassword: cp, newPassword: np })
              })
              .then(response => {
                if (response.redirected) {
                  window.location.href = response.url;
                }
              })
              .catch(error => {
                document.getElementById("errorHolder").innerHTML = `
                <article class="message is-danger" id="error">
                  <div class="message-header">
                    <p>Warning</p>
                    <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
                      element.remove();"></button>
                  </div>
                  <div class="message-body">
                    Error changing password, please try again
                  </div>
                </article>
                `;
              });
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <main>
        <div id="errorHolder">
          <% if (error) { %>
            <article class="message is-danger" id="error">
              <div class="message-header">
                <p>Warning</p>
                <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
                  element.remove();"></button>
              </div>
              <div class="message-body">
                <%= error %>
              </div>
            </article>
            <% } %>
            </div>
            
            <div id="sucHolder">
              <% if (suc) { %>
                <article class="message is-success" id="error">
                  <div class="message-header">
                    <p>Success</p>
                    <button class="delete" aria-label="delete" onclick="const element = document.getElementById('error');
                      element.remove();"></button>
                  </div>
                  <div class="message-body">
                    <%= suc %>
                  </div>
                </article>
                <% } %>
            </div>
      

      <section class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->
                           
        

        <!-- Hero content: will be in the middle -->
        <div class="hero-body" style="">
          <div class="container has-text-centered vertical-center" id="updatesettings">
           
              <p class="subtitle is-4" style=" width: 100px; margin-left: -7px">Settings</p>

            <p class="subtitle is-6" style=" width: 100%; margin-bottom: 0px; text-align: left"><strong>Privacy</strong></p>
            <div class="container" style="margin-top: 10px;margin-bottom: 30px">
            
<p style="display: inline-block; font-size: 17px; transform: translate(0px,2px); float: left">Show my account to other EPS students</p>
            <input class="switch-input" type="checkbox" id="switch"  /><label class="switch-label" style="display: inline-block; margin-left: 5px; float:right" for="switch">Toggle</label>
            </div>
            
           <div class="container" style="margin-bottom: 30px;margin-top: 10px">
              <p class="subtitle is-6" style=" width: 100%;  text-align: left; margin-bottom: 10px"><strong>Change Password</strong></p>
            <!-- <p style="display: inline-block; font-size: 17px; transform: translate(0px,2px); float: left">Require an address when registering</p>
            <input class="switch-input" type="checkbox" id="switch2"  /><label class="switch-label" style="display: inline-block; margin-left: 5px; float: right" for="switch2">Toggle</label> -->
            <div class="field">
              <input class="input" id="cp" type="password" placeholder="Current password">
              </div>
             <div class="field">
              <input class="input" id="np" type="password" placeholder="New password">
             </div>
             <div class="field">
              <input class="input" id="np2" type="password" placeholder="Confirm password">
            </div>
           
           </div>
     
        <div class="buttons">
        <div onclick="changePassword()" class="button is-link"style="background: linear-gradient(105deg, #3273DC, #275CBF);">
          Change Password
        </div>
          <div class="button" onclick="window.location.href = '/'">
            Cancel
          </div>
        </div>
             </div>

        </div>

     
       

      </section>

    </main>

           
  </body>
</html>